In [1]:
# originally we used nlst cases stored under /home/leonardgarcia, 
# which was later removed. 
# this script converts the paths with that folder to /data.

In [2]:
import os 
import sys 
import pandas as pd

In [9]:
IN_CASES_PATH = '/workspace/home/tengyuezhang/sybil_cect/data/nlst_baseline/nlst_cases_with_labels_baseline.csv' 
OUT_CORRECTED_PATH = '/workspace/home/tengyuezhang/sybil_cect/data/nlst_baseline/nlst_cases_with_labels_baseline_v3.csv'

In [10]:
df = pd.read_csv(IN_CASES_PATH)
df

,pid,event,years_to_event,years_from_scan_to_diagnosis,years_from_scan_to_last_followup,Year,timepoint,AccessionNumber,Directory
0,100005,0,5.0,NaN,5.0,2000,1,451441.0,/workspace/home/leonardgarcia/sybil_test/10000...
1,100032,0,5.0,NaN,7.0,1999,0,570860.0,/workspace/home/leonardgarcia/sybil_test/10003...
2,100043,0,5.0,NaN,6.0,1999,0,132606.0,/workspace/home/leonardgarcia/sybil_test/10004...
3,100085,0,5.0,NaN,6.0,1999,0,517568.0,/workspace/home/leonardgarcia/sybil_test/10008...
4,100217,0,5.0,NaN,5.0,1999,0,509939.0,/workspace/home/leonardgarcia/sybil_test/10021...
...,...,...,...,...,...,...,...,...,...
2323,200988,0,5.0,NaN,6.0,1999,0,NaN,/workspace/home/leonardgarcia/sybil_test/20098...
2324,201769,1,0.0,0.0,6.0,1999,0,NaN,/workspace/home/leonardgarcia/sybil_test/20176...
2325,214683,1,0.0,0.0,7.0,1999,0,NaN,/workspace/home/leonardgarcia/sybil_test/21468...
2326,101066,1,0.0,0.0,7.0,1999,0,556382.0,/workspace/home/leonardgarcia/sybil_test/10106...
2327,208792,1,0.0,0.0,3.0,1999,0,NaN,/workspace/home/leonardgarcia/sybil_test/20879...

In [11]:
old_prefix = "/workspace/home/leonardgarcia/sybil_test/"
new_prefix = "/workspace/data/lung/nlst/NLST_CT_longitudinal_archive/"
df["Directory"] = df["Directory"].str.replace(old_prefix, new_prefix, regex=False)
df

,pid,event,years_to_event,years_from_scan_to_diagnosis,years_from_scan_to_last_followup,Year,timepoint,AccessionNumber,Directory
0,100005,0,5.0,NaN,5.0,2000,1,451441.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
1,100032,0,5.0,NaN,7.0,1999,0,570860.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
2,100043,0,5.0,NaN,6.0,1999,0,132606.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
3,100085,0,5.0,NaN,6.0,1999,0,517568.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
4,100217,0,5.0,NaN,5.0,1999,0,509939.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
...,...,...,...,...,...,...,...,...,...
2323,200988,0,5.0,NaN,6.0,1999,0,NaN,/workspace/data/lung/nlst/NLST_CT_longitudinal...
2324,201769,1,0.0,0.0,6.0,1999,0,NaN,/workspace/data/lung/nlst/NLST_CT_longitudinal...
2325,214683,1,0.0,0.0,7.0,1999,0,NaN,/workspace/data/lung/nlst/NLST_CT_longitudinal...
2326,101066,1,0.0,0.0,7.0,1999,0,556382.0,/workspace/data/lung/nlst/NLST_CT_longitudinal...
2327,208792,1,0.0,0.0,3.0,1999,0,NaN,/workspace/data/lung/nlst/NLST_CT_longitudinal...

In [12]:
df.to_csv(OUT_CORRECTED_PATH, index=False)